<p>category-add works!</p>
<div class="container">
    <div class="col-lg-6 col-md-8 col-sm-12 mx-auto" id="formScroll">
        <h2 class="text-warning fs-1 mt-4 text-center fw-bold pb-2">Add category</h2>

        <form [formGroup]="CategoryForm" >

            <div class="mb-3">
                <label for="name" class="form-label me-3">category name:</label>
                <input type="text" class="form-control" id="name" placeholder="Enter your name" formControlName="name"
                    [class.is-invalid]="name.invalid&&name.touched">
                <small *ngIf="name.errors?.['required']&& (name.valid||name.touched)" class="text-danger">
                    name is required
                </small>
            </div>
            <div class="text-center pt-1 mb-5">
                <a title="Back" routerLink="/categories" class="btn fw-bold btn-warning text-light border rounded-3 mx-3 px-3">
                    <i class="bi bi-arrow-left-short"></i> Back
                </a>
                <button title="Add" (click)="Add()" class="btn btn-success fw-bold text-light btn-successborder rounded-3 px-3"
                    [disabled]="CategoryForm.invalid">
                    Add <i class="bi bi-plus-square-dotted"></i> 
                </button>
            </div>
        </form>

    </div>
</div>
<p-toast></p-toast>
