<div class="container mt-3 d-flex justify-content-center">
  <!-- <p-table [value]="orders" [resizableColumns]="true" styleClass="p-datatable-gridlines"
    [tableStyle]="{'min-width': '50rem'}">
    <ng-template pTemplate="header">
      <tr>
        <th>Id</th>
        <th>Date</th>
        <th>Quantity</th>
        <th>Total</th>
        <th>User Name</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-order>
      <tr>
        <td>{{order.id}}</td>
        <td>{{order.date | date:"MM/dd/yyyy"}}</td>
        <td>{{order.quantity}}</td>
        <td>{{order.total}}</td>
        <td>{{order.userName}}</td>
        <td class="d-flex justify-content-evenly">
          <a routerLink="" class="text-info"><i class="bi bi-eye"></i></a>
          <a routerLink="" class="text-danger"><i class="bi bi-basket"></i></a>
          <a routerLink="" class="text-primary"><i class="bi bi-pencil"></i></a>
        </td>
      </tr>
    </ng-template>
  </p-table> -->
  <div class="w-75 table-responsive-md">
    <div class="mb-1 d-flex justify-content-between">
      <div class="text-success fw-bolder fs-2">
        Order List
      </div>
      <a title="Add" class="d-flex align-self-center fw-bold border-0 btn btn-success" routerLink="/orders/create">
        Add Order
        <i class="mx-2 bi bi-plus-square-dotted"></i>
      </a>
    </div>


    <table class="table table-bordered text-nowrap">
      <thead>
        <tr class="color text-center text-light">
          <th>Id</th>
          <th>Date</th>
          <th>Quantity</th>
          <th>Total</th>
          <th>User Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody class="text-center">
        <tr *ngFor="let order of order">
          <td>{{order.id}}</td>
          <td>{{order.date | date:"MM/dd/yyyy"}}</td>
          <td>{{order.quantity}}</td>
          <td>{{order.total}}</td>
          <td>{{order.userName}}</td>
          <td class="d-flex justify-content-center">
            <button routerLink="/orders/update/{{order.id}}" title="Update" (click)="Edit(order)"
              class="btn text-info border rounded-3">
              <i class="bi bi-pencil-square"></i>
            </button>

            <button title="Details" routerLink="/orders/details/{{order.id}}"
              class="btn text-info border  mx-2 rounded-3">
              <i class="bi bi-eye"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>