<!-- <p-table [value]="orders" [tableStyle]="{'min-width': '50rem'}">
    <ng-template pTemplate="header">
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Quantity</th>
            <th>Total</th>
            <th>User Name</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-order>
        <tr>
            <td>{{order.id}}</td>
            <td>{{order.date}}</td>
            <td>{{order.quantity}}</td>
            <td>{{order.total}}</td>
            <td>{{order.userName}}</td>
        </tr>
    </ng-template>
</p-table> -->

<table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>25</td>
      </tr>
      <tr>
        <td>Jane</td>
        <td>30</td>
      </tr>
    </tbody>
  </table>